.header-main {
  margin-left: 80px;
}

.header-main__title {
  font-size: 45px;
  font-size: 60px;
  margin: 0px;
}

.header-main p {
  font-size: 20px;
}

.header-main button {
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: 900;
  border: none;
  width: 150px;
  height: 35px;
  border-radius: 10px;
}
