.nav-bar {
  position: sticky;
  top: 0;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0px 80px;
}

.nav-bar > div {
  width: 33%;
}

.nav-bar__home {
  font-size: 15px;
  display: flex;
  align-items: center;
  position: relative;
  font-family: "Poppins", sans-serif;
}
.nav-bar__home a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 900;
  margin-right: 5px;
}

.nav-bar__search {
  display: flex;
  justify-content: center;
}

.nav-bar__search__button {
  width: 300px;
  height: 48px;
  background-color: white;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7px 0 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}
.nav-bar__search__button:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.nav-bar__search__button span {
  font-size: 14px;
}

.nav-bar__search__button__icon {
  background-color: #ff385c;
  width: 32px;
  height: 32px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.nav-bar__myPage {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-bar__myPage > div:first-child,
.nav-bar__myPage > div:nth-child(2) {
  font-size: 14px;
  font-weight: 900;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar__myPage > div:first-child {
  border-radius: 30px;
  width: 100px;
}
.nav-bar__myPage > div:nth-child(2) {
  width: 46px;
  border-radius: 50%;
}
.nav-bar__myPage > div:first-child:hover,
.nav-bar__myPage > div:nth-child(2):hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.nav-bar__myPage__menu {
  width: 77px;
  height: 42px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 5px;
  position: relative;
}
.nav-bar__myPage__menu:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.nav-bar__myPage__menu span:first-child {
  font-size: 15px;
}
.nav-bar__myPage__menu span:nth-child(2) {
  width: 25px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.nav-bar__myPage__menu__red-dot {
  position: absolute;
  top: 2px;
  right: 5px;
}
